@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

	background-color: #fff;
}

body {
	margin: 0;
	padding: 0;
}

.masthead {
	background-color: #fff;
	padding-top: 0.6em;
	border-bottom: 2px solid #e2e2e2;
	position: fixed;
	z-index: 100;
	width: 100%;
	
}

.logo {
	width: 50px;
	padding-left: 0.4em;
}

section {
	padding: 8rem 0;
}

.intro-section {
	background: transparent url("../images/feature-img.jpg") no-repeat center top;
	background-size: cover;
	margin: 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	margin: 0;
}

h2 {
	padding: 0 5% 0 5%;
	margin-top: 2em;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	padding: 2em 10% 0 10%;
}

h4 {
	text-align: center;
	text-transform: uppercase;
	padding: 2em 10% 0 10%;
}

h5 {
	text-align: center;
	padding: 0 10% 0 10%;
}

p {
	text-align: center;
	padding: 10px 10% 60px 10%; 
	margin: 0;
}

.about h5 {
	text-align: center;
	font-weight: 400;
	margin: 0;
	padding: 0 20% 0 20%;
}

.about {
	position: relative;
}

.nav-jump-spacer {
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	top: -3em;
}

.services {
	position: relative;
	background-color: #e2e2e2;
	padding: 1em 0 5em;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	top: 0.9em;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	width: 46px;

	background: transparent url("../images/nav-icon.svg") no-repeat 0 0;

	text-indent: 100%;
	white-space: nowrap;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #000;
	background-position: 0 -40px;
}

.nav-btn[data-state="active"] {
	background-color: #000;
	background-position: -46px -40px;
}

.nav {
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.nav > ul {
	margin: 0;
	overflow: hidden;
	padding: 0;

	list-style-type: none;
}

.nav a,
.nav a:link
.nav a:visited {
	display: block;
	padding: 0.5em 10px;

	color: #222;
	text-decoration: none;
	border-top: 1px solid #e2e2e2;
}

.nav a:hover,
.nav a:focus,
.nav a:active {

	color: #e5756b;
	background-color: #fbfbfb;
}

.nav .current,
.nav .current:link,
.nav .current:visited {
	color: #e5756b;
}

.nav-top {
	max-height: 0;
	overflow: hidden;

	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.nav-top[data-state="expanded"] {
	max-height: 50em;
}

@media only screen and (min-width: 35em) {

	h1 {
		float: left;
	}

	.logo {
		width: 58px;
		padding-left: 0.4em;

	}

	section {
	padding: 13rem 0;
	}

	.nav a {
		border: 0;
	}

	.nav a:hover,
	.nav a:focus,
	.nav a:active {

		background-color: #fff;
	}

	.nav li {
		display: inline-block;
		float: none;

		width: auto;
		padding-right: 20px;
	}

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
	}

	.nav-top{

		max-height: 5rem;
		position:relative;
		z-index: 100;
		padding: 0.5em 0;
		text-align: right;
	}

	.nav-bottom {
		border-top: 2px solid #e2e2e2;
	}

	.nav-bottom a:hover,
	.nav-bottom a:focus,
	.nav-bottom a:active {
		background-color: #fbfbfb;
	}

}

@media only screen and (min-width: 45em) {
	p {
		padding: 10px 20% 60px 20%;
	}
}

.btn,
.btn:link,
.btn:visited {
	text-decoration: none;
	display: inline-block;
	padding: 0.75em 3em;
	margin-top: 2rem;
	border: 3px solid #fff;
	color: #fff;
	transition: 
    background-color 500ms linear,
  ;

  transition: all 100ms linear;
}

.btn:hover,
.btn:focus,
.btn:active {
	color: #333;
	background-color: #fff;
}

.icons {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.icons > li {
	display: inline-block;
	margin: 0 2rem;
}

.icons img {
	width: 140px;
	opacity: 0;
	transform: translateY(140px);
	transition: opacity 600ms ease-out, transform 1s ease-out;
}

.icons img.js-icons-animate {
	opacity: 1;
	transform: translateY(0);
}

.icons li:first-child img {
	transition-delay: 100ms;
}

.icons li:nth-child(2) img {
	transition-delay: 200ms;
}

.icons li:last-child img {
	transition-delay: 250ms;
}

.work {
	padding: 1em 0 5em;
	position: relative;
}

.work-section {
	background: #e2e2e2;
	padding: 0 0 1em;
}

.contact {
	background: #fff;
	padding: 0 0 1em;
}

.contact p {
	padding-bottom: 0;
}

.contact h5 {
	color: #e5756b;
}

.footer {
	background-color: #222;
}

.copyright {
	text-align: center;
	text-transform: uppercase;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: #fff;
	margin: 0;
}